<!--{{yield}}-->
<div class="map">
 
<img 
alt = "Un mapa con sus coordenadas {{@lat}}, {{@lng}}"
...attributes
src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/No_colonies_blank_world_map.png/1200px-No_colonies_blank_world_map.png"
width={{@width}}
height={{@height}}
>
</div>